# --------------------------------------------------------------
# more gitignore templates see https://github.com/github/gitignore
# --------------------------------------------------------------
/docs/blog/**/page.json

**/node_modules/
**/dist/
**/cache/
**/.vitepress/cache
**/logs/
*.log
**/.temp
**/.DS_Store

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
