/**
 * 文档样式调整
 * -------------------------------------------------------------------------- */
.VPDoc.has-aside .content-container {
  max-width: none !important;
}

.vp-doc {
  h1,
  h2,
  h3 {
    background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 0.5rem 0;
    border: none;
    border-bottom: 1px solid var(--vp-c-divider);
  }

  blockquote {
    border-radius: 10px;
    padding: 18px 20px 20px 15px;
    position: relative;
    background-color: var(--vp-c-gray-soft);
    border-left: 6px solid var(--vp-c-green-2);
  }
}


